@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    text-decoration: none;
    font-family: 'ubuntu', sans-serif;
}

#box {
    height: 677px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkJuhs3xtJ0V94n2PYF04yJ7JqFJ3Co7odWQ&s");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#container {
    height: 677px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9-dwPCojBZn2aknJSAsUqCak0JawhwkOGBA&s");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

p {
    font-size: 18px;
}